*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(242, 235, 220);
    box-sizing: border-box;
    font-family: Karla, sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    box-shadow: 2px 0 10px black;
}

header h1{
    margin-left: 130px;
    font-size: 36px;
    font-family: "DM Serif Display", serif;
    color: rgb(45, 38, 64);
}

ul button{
    margin-right: 50px;
}

nav ul li{
    display: inline;
    list-style: none;
}

nav a{
    font-size: 20px;
    margin-left: 32px;
    color: rgb(110, 107, 116);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

button{
    color: rgb(110, 107, 116);
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 18px;
    border-width: 1px solid rgb(110, 107, 116);
    border-image: initial;
    border-radius: 3px;
    transition: 1s;
}

#home{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 450px;
    background-color: rgb(45, 38, 64);
    padding: 0 150px;
    align-items: center;
}

#home-text-section {
    flex: 1;
    max-height: 100%;
    margin-right: 150px;
    background-color: rgb(45, 38, 64);
}
#home-text-section h1 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(45, 38, 64);
    line-height: 1.1;
    color: white;
    font-family: "DM Serif Display", serif;
}
#home-text-section p {
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgb(45, 38, 64);
    color: #bcb8c4;
}
.btn {
    display: inline-block;
    background-color: rgb(45, 38, 64);
    padding: 10px 20px;
    border: white solid 1px;
    color: white;
    transition: 1s;
}
#home-image-section{
    padding-right: 50px;  
    background-color: rgb(45, 38, 64);
}

#home-image-section img {
    width: 95%;
    height: auto;
    margin-bottom: -140px;
    margin-right: 50px;

}

#about{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 450px;
    padding: 0 80px;
    margin-top: 100px;
    align-items: center;
}

#about-text-section {
    max-height: 100%;
    margin-left: 150px;

}

#about-text-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #2d2640;
    line-height: 1.1;
    font-family: "DM Serif Display", serif;
}

#about-text-section p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #6e6b74;
}

#about-image-section{
    margin-left: 70px;  
}

#about-image-section img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

#feature{
    margin-left: 150px;
}

#feature h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #2d2640;
    line-height: 1.1;
    font-family: "DM Serif Display", serif;
}

#feature-box{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    padding: 10px 80px 10px 0;
}

.dot{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #8ab4f0;
}

.dot-box h3{
    font-size: 32px;
    color: #2d2640;
    text-transform: capitalize;
    margin: 24px 0 8px 0;
}

.dot-box p{
    width: 400px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #6e6b74;
    text-align: justify;
}

#plan{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    height: 230px;
    background-color: rgb(45, 38, 64);
    padding: 0 150px;
    align-items: center;
    margin-bottom: 60px;
}

#plan h3{
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(45, 38, 64);
    line-height: 1.1;
    color: white;
    font-family: "DM Serif Display", serif;
}

#plan button{
    font-size: 30px;
    padding: 10px 20px;
}

#bottom-heading nav{
    height: 100px;
    padding: 20px;
    text-align: center;
}

#bottom-heading  h1{
    margin-left: 130px;
    font-size: 36px;
    font-family: "DM Serif Display", serif;
    color: rgb(45, 38, 64);
}

#bottom-heading a{
    font-weight: normal;
}

footer{
    max-width: 100%;
    height: 100px;
    background-color: rgb(45, 38, 64);
    padding: 30px;
}

footer p{
    text-align: center;
    background-color: rgb(45, 38, 64);
    color: #bcb8c4;
    font-size: 20px;
    font-weight: 600;
}

a:hover{
    cursor: pointer;
    color: rgb(63, 53, 83);;
}

button:hover{
    color: white;
    background-color: rgb(45, 38, 64);
}

.btn:hover{
    color: rgb(45, 38, 64);
    background-color: white;
}

.line{
    margin-bottom: 10px;
    width: 250px;
    border: 2px #bcb8c4 solid;
}